<!-- Arquivo: src/app/components/pages/dashboard/dashboard.component.html -->
<div *ngIf="!carregamento.carregando && carregamento.sucesso" class="container">
  <h1 class="h1">Olá {{login.Usuario?.usuario?.nome ?? ''}}, {{obterSaudacao()}}!</h1>
  <div class="container">
    <div class="row">
      <div [ngClass]="['col-3 p-3 border', !darkMode.isDarkMode ? 'bg-light text-dark' : 'bg-dark bg-opacity-25 text-light']">

      </div>
      <!-- Corpo principal -->
      <div [ngClass]="['col-9 p-3 border', !darkMode.isDarkMode ? 'bg-light text-dark' : 'bg-dark bg-opacity-25 text-light']">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" [ngClass]="darkMode.isDarkMode?'text-light':'text-dark'">#</th>
              <th scope="col" [ngClass]="darkMode.isDarkMode?'text-light':'text-dark'">Meus Dados</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" [ngClass]="darkMode.isDarkMode?'text-light':'text-dark'">
                Nome completo:
              </th>
              <td [ngClass]="darkMode.isDarkMode?'text-light':'text-dark'">
                {{login.Usuario?.usuario?.nome ?? ''}}
              </td>
            </tr>
            <tr>
              <th scope="row" [ngClass]="darkMode.isDarkMode?'text-light':'text-dark'">
                {{login.Usuario?.usuario?.documento?.tipo === 'PF' ? 'CPF':'CNPJ'}}:
              </th>
              <td [ngClass]="darkMode.isDarkMode?'text-light':'text-dark'">{{login.Usuario?.usuario?.documento?.numero}}</td>
            </tr>
            <tr>
              <th scope="row" [ngClass]="darkMode.isDarkMode?'text-light':'text-dark'">
                E-Mail:
              </th>
              <td [ngClass]="darkMode.isDarkMode?'text-light':'text-dark'">{{login.Usuario?.usuario?.email}}</td>
            </tr>
            <tr>
              <th scope="row" [ngClass]="darkMode.isDarkMode?'text-light':'text-dark'">
                Data de nascimento:
              </th>
              <td [ngClass]="darkMode.isDarkMode?'text-light':'text-dark'">{{dataDeNascimento()}}</td>
            </tr>
          </tbody>
        </table>

        <!-- Telefones do usuário cadastrado: -->
        <div *ngIf="!!login.Usuario" class="row flex-row justify-content-center">
          <h1 *ngIf="login.Usuario.telefones.length > 0" class="h1">Meus Telefones:</h1>
          <div *ngFor="let telefone of login.Usuario.telefones; let indice = index"
               style="width:17.5rem;" [ngClass]="['card margem-cartao padding-zero',
                  darkMode.isDarkMode ? 'bg-dark text-light' : 'bg-white text-dark']">
            <div class="card-body">
              <h5 class="card-title">#{{indice + 1}} - {{telefone.descricao}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">({{telefone.codigoArea}}) {{formatarTelefone(indice)}}</h6>
              <p class="card-text">
                <span class="nf nf-mdi-phone"></span>
                Ligações:
                <span [ngClass]="['nf',telefone.chamadas ?'nf-fa-check color-success' : 'nf-fa-remove color-danger']"></span>
              </p>
              <p class="card-text">
                <span class="nf nf-mdi-message"></span>
                Mensagens SMS:
                <span [ngClass]="['nf',telefone.appsMensageiros.mensagemTexto ?'nf-fa-check color-success' : 'nf-fa-remove color-danger']"></span>
              </p>
              <p class="card-text font-bolder">Aplicativos de mensagem:</p>
              <p class="card-text">
                <span class="nf nf-mdi-whatsapp"></span>
                WhatsApp:
                <span [ngClass]="['nf',telefone.appsMensageiros.whatsApp ?'nf-fa-check color-success' : 'nf-fa-remove color-danger']"></span>
              </p>
              <p class="card-text">
                <span class="nf nf-mdi-telegram"></span>
                Telegram:
                <span [ngClass]="['nf',telefone.appsMensageiros.telegram ?'nf-fa-check color-success' : 'nf-fa-remove color-danger']"></span>
              </p>
              <p class="card-text">
                <span class="nf nf-mdi-wechat"></span>
                WeChat:
                <span [ngClass]="['nf',telefone.appsMensageiros.weChat ?'nf-fa-check color-success' : 'nf-fa-remove color-danger']"></span>
              </p>
            </div>
          </div>
        </div>

        <!-- Endereços do usuário cadastrado -->
        <div *ngIf="login.Usuario !== undefined && login.Usuario.enderecos.length > 0" class="row flex-row justify-content-center">
          <h1 class="h1">Meus endereços:</h1>
          <div *ngFor="let endereco of login.Usuario.enderecos; let indice = index" [ngClass]="{
                  'card margem-cartao padding-zero':true,
                  'bg-dark text-light':darkMode.isDarkMode,
                  'bg-white text-dark':!darkMode.isDarkMode
                }" style="width:17.5rem;">
            <div class="card-body">
              <h5 class="card-title">{{endereco.descricao}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{endereco.finalidade}}</h6>
              <p class="card-text"><strong>Endereço:</strong> {{endereco.endereco}}</p>
              <p class="card-text">
                <strong>Número e Complemento:</strong>
                {{endereco.numero}} {{endereco.complemento}}
              </p>
              <p class="card-text"><strong>Bairro:</strong> {{endereco.bairro}}</p>
              <p class="card-text"><strong>Cidade:</strong> {{endereco.municipio}}</p>
              <p class="card-text"><strong>Estado:</strong> {{endereco.estado}}</p>
              <p class="card-text"><strong>CEP:</strong> {{endereco.cep}}</p>
            </div>
          </div>
        </div>

        <!-- Botão para fazer Logoff -->
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary" (click)="login.encerrarSecao()">
              <span class="nf nf-fa-sign_out"></span>  Encerrar sessão
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="carregamento.carregando" class="text-center container container-pq">
  <div class="centro">
    <div style="width:300px !important; height:300px !important;"
         [ngClass]="['spinner-border', darkMode.isDarkMode ? 'text-light' : 'text-dark']"
         role="status">
      <span class="visually-hidden">Carregando, por favor aguarde...</span>
    </div>
  </div>
</div>
