/**
  * jetbrains-mono-regular-nerd-font-complete-windows-compatible
  * Arquivo: src/assets/styles/fonts/jetbrainsmono-nf/jetbrainsmono-nf.css
  */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: normal;
	font-weight: 400;
	src: local("JetBrains Mono Regular Nerd Font Complete Windows Compatible"), local("JetBrainsMonoNerdFontCo-Regular"), url(jetbrains-mono-regular-nerd-font-complete-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-regular-nerd-font-complete-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-regular-nerd-font-complete-mono-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: normal;
	font-weight: 400;
	src: local("JetBrains Mono Regular Nerd Font Complete Mono Windows Compatible"), local("JetBrainsMonoNerdFontCo-Regular"), url(jetbrains-mono-regular-nerd-font-complete-mono-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-regular-nerd-font-complete-mono-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-medium-nerd-font-complete-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: normal;
	font-weight: 500;
	src: local("JetBrains Mono Medium Nerd Font Complete Windows Compatible"), local("JetBrainsMonoNerdFontCom-Medium"), url(jetbrains-mono-medium-nerd-font-complete-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-medium-nerd-font-complete-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-medium-nerd-font-complete-mono-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: normal;
	font-weight: 500;
	src: local("JetBrains Mono Medium Nerd Font Complete Mono Windows Compatible"), local("JetBrainsMonoNerdFontCom-Medium"), url(jetbrains-mono-medium-nerd-font-complete-mono-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-medium-nerd-font-complete-mono-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-medium-italic-nerd-font-complete-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: italic;
	font-weight: 500;
	src: local("JetBrains Mono Medium Italic Nerd Font Complete Windows Compatible"), local("JetBrainsMonoNerdFontCom-Italic"), url(jetbrains-mono-medium-italic-nerd-font-complete-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-medium-italic-nerd-font-complete-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-medium-italic-nerd-font-complete-mono-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: italic;
	font-weight: 500;
	src: local("JetBrains Mono Medium Italic Nerd Font Complete Mono Windows Compatible"), local("JetBrainsMonoNerdFontCom-Italic"), url(jetbrains-mono-medium-italic-nerd-font-complete-mono-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-medium-italic-nerd-font-complete-mono-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-italic-nerd-font-complete-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: italic;
	font-weight: 400;
	src: local("JetBrains Mono Italic Nerd Font Complete Windows Compatible"), local("JetBrainsMonoNerdFontCom-Italic"), url(jetbrains-mono-italic-nerd-font-complete-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-italic-nerd-font-complete-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-italic-nerd-font-complete-mono-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: italic;
	font-weight: 400;
	src: local("JetBrains Mono Italic Nerd Font Complete Mono Windows Compatible"), local("JetBrainsMonoNerdFontCom-Italic"), url(jetbrains-mono-italic-nerd-font-complete-mono-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-italic-nerd-font-complete-mono-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-extra-bold-nerd-font-complete-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: normal;
	font-weight: 700;
	src: local("JetBrains Mono Extra Bold Nerd Font Complete Windows Compatible"), local("JetBrainsMonoNerdFont-ExtraBold"), url(jetbrains-mono-extra-bold-nerd-font-complete-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-extra-bold-nerd-font-complete-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-extra-bold-nerd-font-complete-mono-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: normal;
	font-weight: 700;
	src: local("JetBrains Mono Extra Bold Nerd Font Complete Mono Windows Compatible"), local("JetBrainsMonoNerdFont-ExtraBold"), url(jetbrains-mono-extra-bold-nerd-font-complete-mono-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-extra-bold-nerd-font-complete-mono-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-extbd-ita-nerd-font-complete-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: italic;
	font-weight: 700;
	src: local("JetBrains Mono ExtBd Ita Nerd Font Complete Windows Compatible"), local("JetBrainsMonoNerdFontCom-Italic"), url(jetbrains-mono-extbd-ita-nerd-font-complete-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-extbd-ita-nerd-font-complete-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-extbd-ita-nerd-font-complete-mono-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: italic;
	font-weight: 700;
	src: local("JetBrains Mono ExtBd Ita Nerd Font Complete Mono Windows Compatible"), local("JetBrainsMonoNerdFontCom-Italic"), url(jetbrains-mono-extbd-ita-nerd-font-complete-mono-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-extbd-ita-nerd-font-complete-mono-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-bold-nerd-font-complete-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: normal;
	font-weight: 700;
	src: local("JetBrains Mono Bold Nerd Font Complete Windows Compatible"), local("JetBrainsMonoNerdFontCompl-Bold"), url(jetbrains-mono-bold-nerd-font-complete-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-bold-nerd-font-complete-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-bold-nerd-font-complete-mono-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: normal;
	font-weight: 700;
	src: local("JetBrains Mono Bold Nerd Font Complete Mono Windows Compatible"), local("JetBrainsMonoNerdFontCompl-Bold"), url(jetbrains-mono-bold-nerd-font-complete-mono-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-bold-nerd-font-complete-mono-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-bold-italic-nerd-font-complete-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: italic;
	font-weight: 700;
	src: local("JetBrains Mono Bold Italic Nerd Font Complete Windows Compatible"), local("JetBrainsMonoNerdFo-Bold Italic"), url(jetbrains-mono-bold-italic-nerd-font-complete-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-bold-italic-nerd-font-complete-windows-compatible.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-bold-italic-nerd-font-complete-mono-windows-compatible */
@font-face {
	font-family: JetBrainsMono NF;
	font-style: italic;
	font-weight: 700;
	src: local("JetBrains Mono Bold Italic Nerd Font Complete Mono Windows Compatible"), local("JetBrainsMonoNerdFo-Bold Italic"), url(jetbrains-mono-bold-italic-nerd-font-complete-mono-windows-compatible.woff2) format("woff2"), url(jetbrains-mono-bold-italic-nerd-font-complete-mono-windows-compatible.woff) format("woff");
	font-display: auto;
}

