/* jetbrains-mono-regular-nerd-font-complete */
@font-face {
	font-family: JetBrainsMono Nerd Font;
	font-style: normal;
	font-weight: 400;
	src: local("JetBrains Mono Regular Nerd Font Complete"), local("JetBrainsMonoNerdFontComplete-Regular"), url(jetbrains-mono-regular-nerd-font-complete.woff2) format("woff2"), url(jetbrains-mono-regular-nerd-font-complete.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-medium-nerd-font-complete */
@font-face {
	font-family: JetBrainsMono Nerd Font;
	font-style: normal;
	font-weight: 500;
	src: local("JetBrains Mono Medium Nerd Font Complete"), local("JetBrainsMonoNerdFontComplete-Medium"), url(jetbrains-mono-medium-nerd-font-complete.woff2) format("woff2"), url(jetbrains-mono-medium-nerd-font-complete.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-medium-italic-nerd-font-complete */
@font-face {
	font-family: JetBrainsMono Nerd Font;
	font-style: italic;
	font-weight: 500;
	src: local("JetBrains Mono Medium Italic Nerd Font Complete"), local("JetBrainsMonoNerdFontComplete-Italic"), url(jetbrains-mono-medium-italic-nerd-font-complete.woff2) format("woff2"), url(jetbrains-mono-medium-italic-nerd-font-complete.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-italic-nerd-font-complete */
@font-face {
	font-family: JetBrainsMono Nerd Font;
	font-style: italic;
	font-weight: 400;
	src: local("JetBrains Mono Italic Nerd Font Complete"), local("JetBrainsMonoNerdFontComplete-Italic"), url(jetbrains-mono-italic-nerd-font-complete.woff2) format("woff2"), url(jetbrains-mono-italic-nerd-font-complete.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-extra-bold-nerd-font-complete */
@font-face {
	font-family: JetBrainsMono Nerd Font;
	font-style: normal;
	font-weight: 700;
	src: local("JetBrains Mono Extra Bold Nerd Font Complete"), local("JetBrainsMonoNerdFontComplete-ExtraBold"), url(jetbrains-mono-extra-bold-nerd-font-complete.woff2) format("woff2"), url(jetbrains-mono-extra-bold-nerd-font-complete.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-extbd-ita-nerd-font-complete */
@font-face {
	font-family: JetBrainsMono Nerd Font;
	font-style: italic;
	font-weight: 700;
	src: local("JetBrains Mono ExtBd Ita Nerd Font Complete"), local("JetBrainsMonoNerdFontComplete-Italic"), url(jetbrains-mono-extbd-ita-nerd-font-complete.woff2) format("woff2"), url(jetbrains-mono-extbd-ita-nerd-font-complete.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-bold-nerd-font-complete */
@font-face {
	font-family: JetBrainsMono Nerd Font;
	font-style: normal;
	font-weight: 700;
	src: local("JetBrains Mono Bold Nerd Font Complete"), local("JetBrainsMonoNerdFontComplete-Bold"), url(jetbrains-mono-bold-nerd-font-complete.woff2) format("woff2"), url(jetbrains-mono-bold-nerd-font-complete.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-bold-italic-nerd-font-complete */
@font-face {
	font-family: JetBrainsMono Nerd Font;
	font-style: italic;
	font-weight: 700;
	src: local("JetBrains Mono Bold Italic Nerd Font Complete"), local("JetBrainsMonoNerdFontComplete-Bold Italic"), url(jetbrains-mono-bold-italic-nerd-font-complete.woff2) format("woff2"), url(jetbrains-mono-bold-italic-nerd-font-complete.woff) format("woff");
	font-display: auto;
}

