<!-- Arquivo: src/app/components/pages/login/login.component.html -->

<div class="text-center container container-pq">
  <form ngForm #formLogin="ngForm" method="post" class="centro" method="post" action="javascript:void(this);">
    <!-- Seção de Login -->
    <app-logon *ngIf="!secRecuperarSenha && !secNovaSenha"></app-logon>

    <!-- Seção de recuperação de senha -->
    <app-recupera-senha *ngIf="secRecuperarSenha && !secNovaSenha"></app-recupera-senha>

    <!-- Seção de Mudança de senha COM TOKEN -->
    <app-trocar-senha *ngIf="secNovaSenha && secRecuperarSenha"
                      [token]="getQueryStringToken()"></app-trocar-senha>

    <!-- Botões para cadastro ou recuperação de senha -->
    <div>
      <button [routerLink]="['/login', secRecuperarSenha ? '':'recuperarSenha']"
      (click)="clickRecuperaSenha()" type="button" [ngClass]="[
        'btn-large-diskak me-2 borda-mais-arredondada animated-button hover-yellow',
        darkMode.isDarkMode ? 'bg-with-dark-mode-on' : 'btn-dark'
      ]">
        <span class="line-animation line-animation-yellow"></span>
        <span class="line-animation line-animation-yellow"></span>
        <span class="line-animation line-animation-yellow"></span>
        <span class="line-animation line-animation-yellow"></span>
        <span *ngIf="!secRecuperarSenha" class="nf nf-mdi-lock_reset"></span>
        <span *ngIf="secRecuperarSenha" class="nf nf-oct-sign_in"></span>
        {{secRecuperarSenha ? 'Voltar para login' : 'Esqueci minha senha'}}
      </button>
    </div>
    <div>
      <button routerLink="/cadastro" type="button" [ngClass]="[
          'btn-large-diskak me-2 borda-mais-arredondada animated-button hover-green',
          darkMode.isDarkMode ? 'bg-with-dark-mode-on' : 'btn-dark'
      ]">
        <span class="line-animation line-animation-green"></span>
        <span class="line-animation line-animation-green"></span>
        <span class="line-animation line-animation-green"></span>
        <span class="line-animation line-animation-green"></span>
        <span class="nf nf-mdi-wallet_membership"></span>
        Quero me cadastrar
      </button>
    </div>
  </form>
</div>
