/* jetbrains-mono-extrabold-extbd-nerd-font-complete-mono */
@font-face {
	font-family: JetBrainsMonoExtraBold Nerd Font Mono;
	font-style: normal;
	font-weight: 700;
	src: local("JetBrains Mono ExtraBold ExtBd Nerd Font Complete Mono"), local("JetBrainsMonoExtraBoldNerdFontCompleteM-ExtBd"), url(jetbrains-mono-extrabold-extbd-nerd-font-complete-mono.woff2) format("woff2"), url(jetbrains-mono-extrabold-extbd-nerd-font-complete-mono.woff) format("woff");
	font-display: auto;
}
/* jetbrains-mono-extrabold-exbd-indice-nerd-font-complete-mono */
@font-face {
	font-family: JetBrainsMonoExtraBold Nerd Font Mono;
	font-style: italic;
	font-weight: 700;
	src: local("JetBrains Mono ExtraBold ExBd I Nerd Font Complete Mono"), local("JetBrainsMonoExtraBoldNerdFontCompleteM-Italic"), url(jetbrains-mono-extrabold-exbd-i-nerd-font-complete-mono.woff2) format("woff2"), url(jetbrains-mono-extrabold-exbd-i-nerd-font-complete-mono.woff) format("woff");
	font-display: auto;
}

