/**
  * permanent-marker-regular
  * Arquivo: src/assets/styles/fonts/permanent-marker/permanent-marker.css
  */
@font-face {
	font-family: 'Permanent Marker';
	font-style: normal;
	font-weight: 400;
	src: local("Permanent Marker Regular"), local("PermanentMarker-Regular"), url(permanent-marker-regular.woff2) format("woff2"), url(permanent-marker-regular.woff) format("woff");
	font-display: auto;
}

